.chordTextDiv{
    display: inline-block;
    width: 120px;
    padding: 10px 0;
    margin: 20px 0;
    font-size: x-large;
    border-right: 2px solid black;
}
.chordTextDiv:hover{
    background-color: lightgrey;
}

.clickable {
    cursor: pointer;
}
.clickable:active{
    background-color: darkgrey;
}

.measureNumberDiv{
    display: inline-block;
    font-size: smaller;
    margin-top: 25px;
    margin-right: 8px;
    vertical-align: top;
}

.chordHighlighted {
    background-color: #7fffd4;
}
.chordHighlighted:hover {
    background-color: #00ffff;
}

.tooltip {
    top: -5px;
}